sudo: false
language: java
jdk:
- openjdk8
- openjdk9
- openjdk10
- openjdk11
- oraclejdk8
- oraclejdk9
- oraclejdk11
after_success:
- bash <(curl -s https://codecov.io/bash)
- mvn site
deploy:
  provider: pages
  local-dir: "./target/site/"
  skip-cleanup: true
  github-token: "$GITHUB_TOKEN"
  keep-history: true
  on:
    branch: master
    jdk: openjdk11
