name: build
permissions: read-all

on:
  push:
  pull_request:
    branches: [ master ]


jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.3.0
        with:
          distribution: 'corretto'
          java-version: 8
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b
        with:
          validate-wrappers: true
      - run: ./gradlew build
      - uses: codecov/codecov-action@0565863a31f2c772f9f0395002a31e3f06189574 # v5.4.0
        with:
          files: build/reports/jacoco/test/jacocoTestReport.xml
      - uses: actions/upload-artifact@1eb3cb2b3e0f29609092a73eb033bb759a334595 # v4.1.0
        with:
          name: spotbugs-report
          path: build/reports/spotbugs/
      - name: ion-java-cli sanity check
        run: ./ion-test-driver-run version

  verify-jre-compatibility:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@3a4f6e1af504cf6a31855fa899c6aa5355ba6c12 # v4.3.0
        with:
          distribution: 'corretto'
          java-version: |
            8
            ${{matrix.java}}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@94baf225fe0a508e581a564467443d0e2379123b
        with:
          cache-read-only: true
          validate-wrappers: true
      - run: ./gradlew minifyTest${{matrix.java}}

  check-version:
    # Ensures that the version is not a release (i.e. -SNAPSHOT) or if it is a release version,
    # ensures that the version is a later version number than the existing releases.
    # See limitations at:
    # https://github.com/amazon-ion/ion-java/blob/master/.github/actions/inspect-version/action.yml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v3.6.0
      - name: Get Project Version
        run: |
          echo "PROJECT_VERSION=v$(<project.version)" >> $GITHUB_ENV
      - uses: ./.github/actions/inspect-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repo: amazon-ion/ion-java
          project_version: ${{ env.PROJECT_VERSION }}
          fail_if_invalid: true
