name: build
permissions: read-all

on:
  push:
    branches: [ master ]
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: 'corretto'
          java-version: 8
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@db19848a5fa7950289d3668fb053140cf3028d43
        with:
          validate-wrappers: true
      - run: ./gradlew build
      - uses: codecov/codecov-action@84508663e988701840491b86de86b666e8a86bed # v4.3.0
        with:
          files: build/reports/jacoco/test/jacocoTestReport.xml
      - uses: actions/upload-artifact@1eb3cb2b3e0f29609092a73eb033bb759a334595 # v4.1.0
        with:
          name: spotbugs-report
          path: build/reports/spotbugs/
      - name: ion-java-cli sanity check
        run: ./ion-test-driver-run version

  verify-jre-compatibility:
    strategy:
      fail-fast: false
      matrix:
        java: [8, 11, 17, 21]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4
        with:
          submodules: recursive
      - name: Setup Java
        uses: actions/setup-java@99b8673ff64fbf99d8d325f52d9a5bdedb8483e9 # v4.2.1
        with:
          distribution: 'corretto'
          java-version: |
            8
            ${{matrix.java}}
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@db19848a5fa7950289d3668fb053140cf3028d43
        with:
          cache-read-only: true
          validate-wrappers: true
      - run: ./gradlew minifyTest${{matrix.java}}

  check-version:
    # Ensures that the version is not a release (i.e. -SNAPSHOT) or if it is a release version,
    # ensures that the version is a later version number than the existing releases.
    # See limitations at:
    # https://github.com/amazon-ion/ion-java/blob/master/.github/actions/inspect-version/action.yml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v3.6.0
      - name: Get Project Version
        run: |
          echo "PROJECT_VERSION=v$(<project.version)" >> $GITHUB_ENV
      - uses: ./.github/actions/inspect-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repo: amazon-ion/ion-java
          project_version: ${{ env.PROJECT_VERSION }}
          fail_if_invalid: true
