name: build
permissions: read-all

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - java: 8
          - java: 11
            upload_reports: true
          - java: 17
      fail-fast: false
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with:
          submodules: recursive
      - uses: gradle/wrapper-validation-action@699bb18358f12c5b78b37bb0111d3a0e2276e0e2 # v2.1.1
      - name: Use java ${{ matrix.java }}
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'corretto'
          java-version: ${{ matrix.java }}
      - uses: gradle/gradle-build-action@3b1b3b9a2104c2b47fbae53f3938079c00c9bb87 # v3.0.0
        with:
          arguments: build
      - name: Test minified JAR
        uses: gradle/gradle-build-action@3b1b3b9a2104c2b47fbae53f3938079c00c9bb87 # v3.0.0
        with:
          arguments: minifyTest
      - run: ./ion-test-driver-run version
      - if: ${{ matrix.upload_reports }}
        uses: codecov/codecov-action@0cfda1dd0a4ad9efc75517f399d859cd1ea4ced1 # v4.0.2
        with:
          files: build/reports/jacoco/test/jacocoTestReport.xml
      - uses: actions/upload-artifact@1eb3cb2b3e0f29609092a73eb033bb759a334595 # v4.1.0
        with:
          name: spotbugs-report-${{ matrix.runs-on }}-java-${{ matrix.java }}
          path: build/reports/spotbugs/

  check-version:
    # Ensures that the version is not a release (i.e. -SNAPSHOT) or if it is a release version,
    # ensures that the version is a later version number than the existing releases.
    # See limitations at:
    # https://github.com/amazon-ion/ion-java/blob/master/.github/actions/inspect-version/action.yml
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v3.6.0
      - name: Get Project Version
        run: |
          echo "PROJECT_VERSION=v$(<project.version)" >> $GITHUB_ENV
      - uses: ./.github/actions/inspect-version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          repo: amazon-ion/ion-java
          project_version: ${{ env.PROJECT_VERSION }}
          fail_if_invalid: true
